<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

	<servlet>
		<servlet-name>MonthView</servlet-name>
		<servlet-class>schedule.MonthView6</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonthView</servlet-name>
		<url-pattern>/MonthView</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewSchedule</servlet-name>
		<servlet-class>schedule.NewSchedule5</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NewSchedule</servlet-name>
		<url-pattern>/NewSchedule</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleInsert</servlet-name>
		<servlet-class>schedule.ScheduleInsert2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScheduleInsert</servlet-name>
		<url-pattern>/ScheduleInsert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleView</servlet-name>
		<servlet-class>schedule.ScheduleView1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScheduleView</servlet-name>
		<url-pattern>/ScheduleView</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditSchedule</servlet-name>
		<servlet-class>schedule.EditSchedule1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditSchedule</servlet-name>
		<url-pattern>/EditSchedule</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleUpdate</servlet-name>
		<servlet-class>schedule.ScheduleUpdate1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScheduleUpdate</servlet-name>
		<url-pattern>/ScheduleUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteCheck</servlet-name>
		<servlet-class>schedule.DeleteCheck1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteCheck</servlet-name>
		<url-pattern>/DeleteCheck</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleDelete</servlet-name>
		<servlet-class>schedule.ScheduleDelete1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScheduleDelete</servlet-name>
		<url-pattern>/ScheduleDelete</url-pattern>
	</servlet-mapping>

</web-app>